<section id="wrapper">

    <header class="page-header">

        <h1 class="h1 page-title">
          <span>Amministrazione</span>
        </h1>
        
    </header>

    <section id="content-wrapper">

        <div class="card">
            <div class="card-details">
              <p class="text-title">Gestione Utenti</p>
              <p class="text-body">Qui potrai visionare gli utenti registrati nel sito e gestirne la rimozione</p>
            </div>
            <button class="card-button" (click)="entraUtenti()">Entra</button>
        </div>
    
        <div class="card">
            <div class="card-details">
              <p class="text-title">Gestione Articoli</p>
              <p class="text-body">Qui potrai controllare gli articoli pubblicati e gestirne la rimozione. </p>
            </div>
            <button class="card-button" (click)="entraPost()" >Entra</button>
        </div>

    </section>

    



</section>
