#wrapper {
    position: relative;
    min-height: 100vh;
}

#contenuto {
    padding-bottom: 50px;
}

.no-posts {
    height: 100vh;
  }

.pagination-container{
    text-align: -webkit-center;    
}

.h1{
    margin-top: 18px;
    margin-bottom: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color);
    font-size: 3.5rem;
    text-align: -webkit-center;
    text-transform: capitalize;
    font-family: monospace;
}

#searchTitolo{
  width: 100%;
  border-radius: 4px;
}

#searchAutore{
  width: 100%;
  border-radius: 4px;
}

#searchCategoria{
  width: 100%;
  border-radius: 4px;
}

/* Pulsante Ricerca */
.fancy {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1em 1em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 8px;
}
 
.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
 
.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}
 
.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
 
.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}
 
.fancy:hover {
  color: white;
  background: black;
}
 
.fancy:hover::before {
  width: 0.9375rem;
  background: white;
}
 
.fancy:hover .text {
  color: white;
}
 
.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}
 
.fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/* Posizionamento Filtri-Posts */

.filter-posts-container {
  display: flex;
  align-items: flex-start; /* Allinea il contenuto in alto */
}

.filters-column {
  min-height: 300vh;
  flex: 0.4; /* Occupa la parte sinistra dello spazio disponibile */
  padding: 10px; /* Aggiungi spazio attorno al contenuto */
  border-right: 1px solid #ccc; /* Aggiungi una linea divisoria a destra */
  background-color: #e8e8e8;;
  border-radius: 10px;
}

.posts-column {
  flex: 2; /* Occupa la parte destra dello spazio disponibile */
}

/* Search */
button.learn-more {
  width: 10rem;
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: inherit;
  font-family: ui-monospace;
}
 
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 2.2rem;
  height: 2.2rem;
  background: #282936;
  border-radius: 0.625rem;
}
 
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
 
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.425rem;
  width: 0.925rem;
  height: 0.125rem;
  background: none;
}
 
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
 
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  color: black;
  line-height: 0.6;
  text-align: center;
  font-size: larger;

}
 
button.learn-more:hover .circle {
  width: 80%;
}
 
button.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
  
}
 
button.learn-more:hover .button-text {
  color: #fff;  
  text-decoration: underline;
  
}

/* Ordinamento */

.sorter-label{
  font-family: ui-monospace; 
  padding-right: 20px; 
  font-size: larger;
}

.sorter-option{
  font-family: ui-monospace;   
  font-size: medium;
}

/* <select> styles */
.sorter-options {
  border: 1;
  width: 14em;
  height: 1.5em;
  padding: 0 4em 0 0.5em;
  color: rgb(0, 0, 0);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.change-order{
  cursor: pointer; 
  display: contents;
}

.close-filter{
  padding-bottom: 25px;
}

.containerSearch{
  border-bottom: double;
  padding-bottom: 25px;
  padding-top: 25px;
}

.labelSearch{
  padding-bottom: 20px;
}

/* Stile Filtri */

.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
}

/* styling of Input */
.input {
  color: #000000;
  font-size: 0.9rem;
  background-color: whitesmoke;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
}

/* styling of animated border */
.input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}

/* Hover on Input */
input:hover {
  background: var(--input-hovered-color);
}
 
input:focus {
  outline: none;
}

input:valid ~ .input-border{
   width: 100%;
}

/* Categorie Select */

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  font-family: ui-monospace;
}

.custom-select select {
  appearance: none;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.custom-select select {
  outline: none !important;
  box-shadow: none !important;
  border-color: #ccc !important;
}

/* Icona dropdown */
.custom-select::after {
  content: "\25BE"; /* Unicode per l'icona triangolo verso il basso */
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
  font-size: 20px;
  color: #777;
}

/* Stile opzioni del select */
.custom-select select option {
  background-color: white;
  color: black;
}

/* Hover sulle opzioni del select */
.custom-select select option:hover {
  background-color: #f8f8f8;
}

/* Aggiungi ai preferiti */

.ui-bookmark {
  --icon-size: 24px;
  --icon-secondary-color: rgb(77, 77, 77);
  --icon-hover-color: rgb(97, 97, 97);
  --icon-primary-color: gold;
  --icon-circle-border: 1px solid var(--icon-primary-color);
  --icon-circle-size: 35px;
  --icon-anmt-duration: 0.3s;
}

/* Per togliere il quadratino del checkbox*/
.ui-bookmark input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.ui-bookmark .bookmark {
  width: var(--icon-size);
  height: auto;
  fill: var(--icon-secondary-color);
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
}

.bookmark::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  box-shadow: 0 30px 0 -4px var(--icon-primary-color),
    30px 0 0 -4px var(--icon-primary-color),
    0 -30px 0 -4px var(--icon-primary-color),
    -30px 0 0 -4px var(--icon-primary-color),
    -22px 22px 0 -4px var(--icon-primary-color),
    -22px -22px 0 -4px var(--icon-primary-color),
    22px -22px 0 -4px var(--icon-primary-color),
    22px 22px 0 -4px var(--icon-primary-color);
  border-radius: 50%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.bookmark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: var(--icon-circle-border);
  opacity: 0;
}

/* actions */

.ui-bookmark:hover .bookmark {
  fill: var(--icon-hover-color);
}

.ui-bookmark input:checked + .bookmark::after {
  -webkit-animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circles var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark input:checked + .bookmark {
  fill: var(--icon-primary-color);
  -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
  animation: bookmark var(--icon-anmt-duration) forwards;
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.ui-bookmark  input:checked + .bookmark::before {
  -webkit-animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  animation: circle var(--icon-anmt-duration)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
  -webkit-animation-delay: var(--icon-anmt-duration);
  animation-delay: var(--icon-anmt-duration);
}

@-webkit-keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@keyframes bookmark {
  50% {
    -webkit-transform: scaleY(0.6);
    transform: scaleY(0.6);
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}

@-webkit-keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes circle {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }

  90% {
    width: var(--icon-circle-size);
    height: var(--icon-circle-size);
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes circles {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    opacity: 1;
  }

  to {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
  }
}

#contenutoBookmark{
  position: absolute;
  z-index: 9999;

  margin-top: 10px;
  margin-left: 300px;
}
